node_modules/
dist/
zosite.jsondata/
bun.lock
package-lock.json
.env.local
.env
supabase/.temp/
*.js
!supabase/functions/**/*.ts
!backend-lib/**/*.ts
!netlify/functions/**/*.ts
!scripts/**/*.js
.netlify
